<div class="row">
    <div class="widget-box col-xs-12">
        <div class="widget-header widget-header-flat">
            <h4>Basic CORS Test Patient Portal API</h4>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <p>Calling RESTful API: <b>{{apiHost}}</b></p>
            </div>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <p>This call demonstrates MedPod API <b>CORS enalbed</b> calling <b>with header authentication</b>.</p>
                <p>{{versionInformation}}</p>
            </div>
        </div>
    </div>
</div>