<div class="row">
    <div class="alert alert-danger" ng-show="connectionError != ''">
        <button type="button" class="close" data-dismiss="alert">
            <i class="icon-remove"></i>
        </button>
        <strong>
            <i class="icon-remove" ng-click="clearError()"></i>
            Connection Error
        </strong>
        {{connectionError}}
        <br>
    </div><div class="widget-box col-xs-12" ng-show="inAppointment != true">
        <div class="widget-header widget-header-flat">
            <h4>Virtual Appointments</h4>
            <button type="submit" class="btn btn-sm btn-purple pull-right" ng-click="getAvailableVirtualEncounters()"><i class="icon-refresh align-top"></i>Refresh Appointments</button>
        </div>
        <div class="widget-body">
            <div class="widget-main" ng-show="providerAppointmentList.availableVirtualEncounterPatients.practices[0].clinics.length > 0">
                <p>The following Virtual Appointments are available today.</p>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th colspan="11">Data for Practice {{providerAppointmentList.availableVirtualEncounterPatients.practices[0].practice}} retrieved {{providerAppointmentList.lastOperationTime}}</th>
                        </tr>
                    </tbody>
                    <tbody ng-repeat="clinic in providerAppointmentList.availableVirtualEncounterPatients.practices[0].clinics">
                        <tr>
                            <th colspan="11">{{clinic.clinicName}} - {{clinic.description}}</th>
                        </tr>
                        <tr>
                            <th>Pat #</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Preferred Name</th>
                            <th>Time In</th>
                            <th>Sex</th>
                            <th>Age</th>
                            <th>Visit Type</th>
                            <th>Provider Name</th>
                            <th>Provider Number</th>
                            <th>&nbsp;</th>
                        </tr>
                        <tr ng-repeat="patient in clinic.currentPatients">
                            <td>{{patient.patNum}}</td>
                            <td>{{patient.firstName}}</td>
                            <td>{{patient.lastName}}</td>
                            <td>{{patient.preferredName}}</td>
                            <td>{{asProperDateTime(patient.timeIn)}}</td>
                            <td>{{patient.sex}}</td>
                            <td>{{patient.age}}</td>
                            <td>{{patient.visitType}}</td>
                            <td>{{patient.providerName}}</td>
                            <td>{{patient.providerNum}}</td>
                            <td><button type="submit" class="btn btn-primary btn-sm pull-right" ng-click="connectToAppointment(patient)"><i class="icon-signin bigger-125 align-top"></i>Connect</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="widget-main" ng-show="providerAppointmentList.availableVirtualEncounterPatients.practices[0].clinics.length == 0">
                <p>No Virtual Appointments are currently scheduled for today.</p>
            </div>
        </div>
    </div>
    <div class="widget-box col-xs-12" ng-show="inAppointment == true">
        <div class="widget-header widget-header-flat">
            <h4>Virtual Appointment with Patient {{patientLastName}}, {{patientFirstName}}</h4>
            <button type="submit" class="btn btn-danger btn-sm pull-right" ng-click="terminateAppointment()"><i class="icon-signout bigger-125 align-top"></i>Disconnect</button>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="col-lg-8 col-md-8 col-sm-12" ng-show="takingPhoto == false">
                    <video id="patient-video" autoplay ng-hide="waitingForPatient == true"></video>
                    <div class="alert alert-info" ng-show="waitingForPatient == true">
                        <strong>Please Wait</strong>
                        The Patient has not yet connected or has diconnected.<br />
                        Appointment Time: {{appointmentTime}}
                        <br>
                    </div>
                </div>
                <div ng-show="videoInitialized == true" class="col-lg-4 col-md-4 col-sm-12">
                    <video id="my-video" muted="true" autoplay></video>
                </div>
            </div>
        </div>
    </div>
</div>