<div class="sidebar" id="sidebar">
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
    </script>

    <ul class="nav nav-list">
        <li ng-repeat="menuItem in activeUserMenuItems" ng-class="{active: menuItem.isActive, open: menuItem.isOpen}" >
            <a class="menuItem" ng-class="{'dropdown-toggle': menuItem.showSubMenu}" ng-click="menuItemClick(menuItem)">
                <i class="{{menuItem.menuIconClass}}"></i>
                <span class="menu-text">{{menuItem.menuName}}
                    <!--<span class="badge badge-primary" ng-show="menuItem.showSubMenu">{{menuItem.subMenuItems.length}}</span>-->
                </span>
                <b class="arrow icon-angle-down" ng-show="menuItem.showSubMenu"></b>
            </a>
            <ul class="submenu" ng-show="menuItem.showSubMenu">
                <li ng-repeat="subMenuItem in menuItem.subMenuItems" ng-class="{active: subMenuItem.isActive}">
                    <a class="menuItem" ng-click="menuItemClick(subMenuItem)">
                        <i class="icon-double-angle-right"></i>
                        {{subMenuItem.menuName}}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- /.nav-list -->

    <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
    </div>

    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
    </script>
</div>